$white-color:#FFF;
$red-color:#DF2E2E;
$yellow-color:#FFAE34;
$black-color:#181818;
$facebook-color: #3b5998;
$whatsApp-color: #075E54;
$background-instagra: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
